{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "images/icon.png" %}">
    <title>
        Taps-Oan -
        {% block title_block %}
            Let the pints flow through ye.
        {% endblock %}
    </title>

    <!-- Bootstrap Core CSS -->
    <!-- Bootstrap Core JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    </body>

    <!-- Custom CSS -->
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/taps_oan.css" %}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse bg-inverse fixed-top navbar-toggleable-sm"
     role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggler float-right hidden-md-up"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">☰
        </button>
        <a class="navbar-brand" href="/">Taps-Oan</a>
        <!-- Collect the
        nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a>
            </li>{% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'account' %}" class="nav-link">Account</a>
            </li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>{% else %}
            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a>
            </li>
            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Register</a>
            </li>{% endif %}</ul>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}/favicon.ico"/>
{% block header_block %}
{% endblock %}
<div class="container">
    {% block body_block %}


    {% endblock %}

    <footer>
        <div class="navbar navbar-toggleable-sm">
            <div class="row">
                <div class="offset-lg-0"><b>Team R</b>
                    <div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a>
                        from
                        <a
                                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by <a
                                href="http://creativecommons.org/licenses/by/3.0/"
                                title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                    </div>
                    <div>Banner image credit goes to <a
                            href="https://pixabay.com/en/beer-beverage-drink-alcohol-glass-681807/">tykejones</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>
<!-- /.container -->


</html>
