{% extends 'taps_oan/base.html' %}
{% load staticfiles %}

{% block title_block %}
Index
{% endblock %}

{% block header_block %}
<!-- Full Width Image Header -->
<header class="header-image">
  <div class="headline">
    <div class="container">
      <h1>Taps-Oan</h1>
      <h2>Let the pints flow through ye.</h2>
      <input id="main_search" type="text" placeholder="Search..."></input>
    </div>
  </div>
</header>
{% endblock %}

{% block body_block %}
  <!-- Page Content -->
  <hr class="featurette-divider">

  <!-- First Featurette -->
  <div class="featurette" id="about">
    <div class="pull-right img-responsive">
      {% if pubs %}
      <ul>
	{% for pub in pubs %}
	<ul class='item_card'>
          <a href="/taps_oan/pub/{{ pub.slug }}">{{ pub.name }}</a>
	</ul>
	{% endfor %}
      </ul>
      {% else %}
      <ul class='item_card'>
	<p>No pubs...yet!</p>
      </ul>
      {% endif %}	
    </div>
    <h2 class="featurette-heading">Most Popular Pubs</h2>
    <p class="lead">See the best pubs around you.</p>
  <!--</h2>-->
  </div>

  <hr class="featurette-divider">

  <!-- Second Featurette -->
  <div class="featurette" id="services">
    <div class="pull-right img-responsive">
      {% if beers %}
      <ul>
	{% for beer in beers %}
	<ul class='item_card'>
          <p>{{ beer.title }}</p>
	</ul>
	{% endfor %}
      </ul>
      {% else %}
      <ul class='item_card'>
	<p>No beer...yet!</p>
      </ul>
      {% endif %}	
    </div>
    <h2 class="featurette-heading">Most Liked Beers</h2>
    <p class="lead">Taste the best beers.</p>
    <!--</h2>-->
  </div>
  
  <hr class="featurette-divider">

  {% endblock %}
