{% extends 'taps_oan/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    {% load socialaccount %}


    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8&appId=1825888634361006";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <h1>Login to Taps Oan</h1>
    <br>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1825888634361006',
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    </script>
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false"
         data-auto-logout-link="true">
    <fb:login-button
            scope="public_profile,email"
            onlogin="checkLoginState();">
    </fb:login-button></div>

    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50"/>
        <br/>
        Password: <input type="password" name="password" value="" size="50"/>
        <br/>
        <input type="submit" value="submit"/>
    </form>




{% endblock %}
